{% comment %}

  Popup message form, which is rendered initially hidden, and included
  to HTML templates to perform certain actions (send message, apply
  to pool, etc.)

  Variables::

    {{ POPUP_FORM_form }}   Django form instance to be rendered. Required.

    {{ POPUP_FORM_action }} Action URL where form should be submitted.
                            This variable is necessary, even if
                            {% block form_attributes %} is redefined,
                            in order to render a form with error correctly.

{% endcomment %}

{% load i18n %}

{% with form=POPUP_FORM_form action=POPUP_FORM_action popup_id=POPUP_FORM_id form_hide=POPUP_FORM_hide %}

  {# POPUP LINK #}
  {% block popup_link %}
      <a href="{{ action }}" id="popup_link_{{ popup_id }}"
         onclick="$('#popup_form_{{ popup_id }}').fadeIn('slow'); return false;">
         {% block popup_link_label %}POPUP{% endblock %}
      </a>
  {% endblock popup_link %}

  {# POPUP FORM #}
  {% block popup_form %}
  <div id="popup_form_{{ popup_id }}"
       class="{% block popup_form_class %}popup_box{% endblock %}"
       {% if form_hide %}style="display:none"{% endif %}>
    <div class="popup_container">

      {% block form_container %}
        <h2 class="popup_header">{% block form_title %}TITLE GOES HERE{% endblock %}</h2>
        <div class="popup_content form_centered">
          {% block form_body %}
            <form{% block form_attributes %} method="post" action="{{ action }}"{% endblock form_attributes %}>
              {% csrf_token %}

              {% block form_fields %}
                {% for field in form %}
                  {# include 'forms/field.html' #}
                  {{ field }}
                {% endfor %}
              {% endblock form_fields %}

                <div class="popup_buttons_box">
                  <div class="fl_r">
                    {% block form_buttons %}
                      <button type="submit" class="btn_blue">{% block ok_button_text %}{% trans 'Ok' %}{% endblock %}</button>
                      <a class="btn_gray btn_popup_close" href="{{ request.path }}">{% trans 'Cancel' %}</a>
                    {% endblock form_buttons %}
                  </div>
                </div>

            </form>
          {% endblock form_body %}
        </div>
      {% endblock form_container %}

    </div>
  </div>
  {% endblock popup_form %}

{% endwith %}
